.form {
  height: 100%;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.form > div {
  margin: 10px;
  width: 400px;
}

  #button {
    background-color: #03793c;
  }
